body {
    margin:0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
header {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: none;
    background-color: #f5f5f5;
    width: 100%;
    display:flex;
    z-index: 1100;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
}
.line {
    min-height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    position: relative;
    align-items: center;

}
.cellery-header {
    color: #464646;
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    margin: 0;
    display: block;
}
.imgrules {
    width:100px;
    margin-right: 10px;
    font-size: 35px;
    fill:currentColor;
    height: 1em;
    display: inline-block;
    user-select: none;
    flex-shrink: 0;
}

.list-numbered {
    margin-left: 1em;
    font-size: 14px;
    counter-reset: line;
}

.list-numbered > li {
    position: relative;
    margin-bottom: 1.25em;
}

.list-numbered > li:before {
    position: absolute;
    left: -2.25em;
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 0.5em;
    border-radius: 50%;
    color: #555;
    text-align:center;
    line-height: 1.9em;
    counter-increment: line;
}

.center {
    margin-left: 3%;
    margin-top: 2%;
    height: 50%;
    width: 50%;
    padding: 10px;
}

.center h1{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #464646;
    font-size: 18px;
    font-weight: 100;
    text-align: left;
    margin-bottom: 20px;
}
.center a{
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.0050em;
    color: #5e9e62;
}
